<div class="modal-body">
  <div class="row">
    <div class="col-12">
      <label for="categoria_input" class="form-label">Categoría</label>
      <input type="text" class="form-control" id="categoria_input" placeholder="Categoría" [(ngModel)]="item.categoria">
    </div>
  </div>
  <div class="row">
    <div class="col-12">
      <label for="nombre_input" class="form-label">Nombre</label>
      <input type="text" class="form-control" id="nombre_input" placeholder="Nombre" [(ngModel)]="item.nombre">
    </div>
  </div>
  <div class="row">
    <div class="col-12">
      <label for="RUC_input" class="form-label">RUC</label>
      <input type="text" class="form-control" id="RUC_input" placeholder="Número de RUC" [(ngModel)]="item.RUC">
    </div>
  </div>
  <div class="row">
    <div class="col-12">
      <label for="descripcion_input" class="form-label">Descripción</label>
      <input type="text" class="form-control" id="descripcion_input" placeholder="Descripción" [(ngModel)]="item.descripcion">
    </div>
  </div>
  <div class="row">
    <div class="col-12">
      <label for="contacto_phone_input" class="form-label">Teléfono</label>
      <input type="text" class="form-control" id="contacto_phone_input" placeholder="Teléfono de Contacto" [(ngModel)]="item.contacto_phone">
    </div>
  </div>
  <div class="row">
    <div class="col-12">
      <label for="contacto_mail_input" class="form-label">Correo Electrónico</label>
      <input type="email" class="form-control" id="contacto_mail_input" placeholder="Correo Electrónico" [(ngModel)]="item.contacto_mail">
    </div>
  </div>
</div>
<div class="modal-footer">
  <button type="button" class="btn btn-outline-success" (click)="onReturn('Guardar')">
    <i class="fas fa-save"></i>Guardar
  </button>
  <button type="button" class="btn btn-outline-danger" (click)="onReturn('Cancelar')">
    <i class="fas fa-trash"></i>Cancelar
  </button>
</div>
