<div class="col-12 mb-3">
  <div class="btn-toolbar" role="toolbar">
    <div class="btn-group mr-2" role="group">
      <button type="button" class="btn btn-primary" (click)="start_item_selected(); open_modal(modalContent);">
        <i class="fas fa-plus-circle"></i>
      </button>
    </div>
    <div class="input-group mr-2">
      <button class="input-group-text btn btn-light" id="basic-addon1" (click)="search_data()">
        <i class="fas fa-search"></i>
      </button>
      <input type="text" [(ngModel)]="filter" class="form-control" placeholder="Buscar..." (keyup)="search_data()">
    </div>
  </div>
</div>
<div class="col-12" style="overflow-x: auto;">
  <table class="table table-hover" style="min-width: 800px;">
    <thead>
      <tr>
        <th>
        </th>
        <th *ngFor = "let header of get_keys(item_definition)">
          <small><strong>{{translation(header)}}</strong></small>
        </th>
        <th>
          <small><strong>Opciones</strong></small>
        </th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let item of items_filtered_slice_shown" (click)="select_item(item)">
        <td class="text-right"><small><strong><span *ngIf="item_selected == item" class="far fa-hand-point-right"></span></strong></small></td>
        <td *ngFor = "let toShow of get_values(item)">
          <span *ngIf="item_definition[toShow.key] != 'file' &&
                       item_definition[toShow.key] != 'picture' &&
                       item_definition[toShow.key] != 'email' &&
                       item_definition[toShow.key] != 'phone' &&
                       item_definition[toShow.key] != 'geo' &&
                       item_definition[toShow.key] != 'money' &&
                       item_definition[toShow.key] != 'date'
                      ">{{toShow.value}}</span>
          <span *ngIf="item_definition[toShow.key] == 'date'">{{toShow.value | date: 'y-MM-dd'}}</span>
          <span *ngIf="item_definition[toShow.key] == 'money'">USD {{toShow.value}}</span>
          <a *ngIf="item_definition[toShow.key] == 'geo'" class="btn btn-secondary" [href]="'https://www.google.com/maps/@' + json_to_object(toShow.value).latitude + ',' + json_to_object(toShow.value).longitude + ',15z'" target="blank">
            <i class="fas fa-map-signs"></i>
          </a>
          <a *ngIf="item_definition[toShow.key] == 'email'" href="mailto:{{toShow.value}}">{{toShow.value}}</a>
          <a *ngIf="item_definition[toShow.key] == 'phone'" href="tel:{{toShow.value}}">{{toShow.value}}</a>
          <button *ngIf="item_definition[toShow.key] == 'file' || item_definition[toShow.key] == 'picture'" type="button" class="btn btn-secondary" (click)="download_file(toShow.value)">
            <i class="fas fa-download"></i>&nbsp;<i *ngIf="item_definition[toShow.key] == 'file'" class="far fa-file"></i><i *ngIf="item_definition[toShow.key] == 'picture'" class="fas fa-file-image"></i>
          </button>
        </td>
        <td>
          <div class="btn-group mr-2" role="group">
            <button type="button" class="btn btn-warning" [disabled]="!item_is_selected" (click)="open_modal(modalContent)">
              <i class="fas fa-edit"></i>
            </button>
            <button type="button" class="btn btn-danger" [disabled]="!item_is_selected" (click)="delete()">
              <i class="fas fa-trash-alt"></i>
            </button>
          </div>
        </td>
      </tr>
    </tbody>
  </table>
</div>
<div class="col-12 mt-2 mb-2">
  <div class="d-flex justify-content-between p-2">
    <ngb-pagination
      [boundaryLinks]="true"
      [collectionSize]="collectionSize"
      [(page)]="page"
      [pageSize]="pageSize"
      (pageChange)="build_table_slice()">
      <ng-template ngbPaginationFirst>Primera</ng-template>
      <ng-template ngbPaginationLast>Última</ng-template>
      <ng-template ngbPaginationPrevious>Anterior</ng-template>
      <ng-template ngbPaginationNext>Siguiente</ng-template>
      <ng-template ngbPaginationPages let-page let-pages="pages">
        <li class="ngb-custom-pages-item" *ngIf="pages.length > 0">
          <div class="form-group d-flex flex-nowrap px-2">
            <label id="paginationInputLabel" for="paginationInput" class="col-form-label mr-2 ml-1">
              Página
            </label>
            <div class="input-group mb-3">
              <input #i
                type="number"
                class="form-control"
                id="paginationInput"
                [value]="page"
                (keyup.enter)="selectPage(i.value)"
                (blur)="selectPage(i.value)"
              />
              <button type="button" class="btn btn-primary" (click)="selectPage(i.value)">
                ir
              </button>
            </div>
            <span id="paginationDescription" class="col-form-label text-nowrap px-2">
              de {{pages.length}}
            </span>
          </div>
        </li>
      </ng-template>
    </ngb-pagination>
    <select class="custom-select" style="width: auto" [(ngModel)]="pageSize" (ngModelChange)="build_table_slice()">
      <option value="5">5 elementos por página</option>
      <option value="10">10 elementos por página</option>
      <option value="20">20 elementos por página</option>
    </select>
  </div>
</div>
<ng-template #modalContent let-modal>
  <div class="modal-header">
    <h4 class="modal-title">{{folder.toUpperCase()}}</h4>
    <button type="button" class="close" (click)="cancelar_modal()">
      <span>&times;</span>
    </button>
  </div>
  <app-modal (modal_event)="process_modal_event($event)"
            [item_income]="item_selected"
            [item_definition]="item_definition"
            [translations]="translations"></app-modal>
</ng-template>
